<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/nav.ejs') %>

    <%- include ('../partials/mensajes.ejs') %>

    <%- include ('../partials/errors.ejs') %>

    <!--card-->
    <div class="container p-4">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Agregar Nota</h5>
            
            <form class="mt-3" action="/notas/nuevanota" method="POST">
                <div class="form-group">
                    <label for="tit">Título</label>
                    <input type="text" class="form-control" id="tit" name="titulo" placeholder="Título" >
                </div>
                <div class="form-group mt-3">
                    <label for="desc">Descripción</label>
                    <input rows="3" type="text" class="form-control" id="desc" name="descripcion" > 
                </div>
                <button type="submit"  class="btn btn-primary btn-block mt-3">Enviar</button>
            </form>

            </div>
        </div>
    </div>

    <%- include ('../partials/footer.ejs') %>
</body>
</html>